@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.Name</h1>
</div>
<div class="col-12">
    <form method="post">
        <div class="row">
            <div class="form-group col-sm-3 text-center">
                <label asp-for="Address.Street" class="text-center"></label>
                <br /><input asp-for="Address.Street" /><br />
                <span asp-validation-for="Address.Street" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-3 text-center">
                <label asp-for="Address.Number" class="text-center"></label><br /><input asp-for="Address.Number" type="number" /><br />
                <span asp-validation-for="Address.Number" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-3 text-center">
                <label asp-for="Address.ZipCode" class="text-center"></label><br /><input asp-for="Address.ZipCode" /><br />
                <span asp-validation-for="Address.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-3 text-center">
                <label asp-for="Address.City" class="text-center"></label><br /><input asp-for="Address.City" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center"><button type="submit" class="btn-submit">Zatwierdź</button></div>
        </div>
    </form>
</div>